@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-bold';
    src: url('../fonts/Poppins-Bold.ttf');
}

* {
    font-family: 'Poppins-Regular';
}


.scroll__style::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(141, 140, 140, 0.479);
}

.scroll__style::-webkit-scrollbar-thumb {
    background-color: rgba(185, 185, 185, 0.589);
    outline: 0px solid rgb(153, 153, 153);
}

.pointer {
    cursor: pointer;
}

.dark__grey__color {
    color: #444147;
}

.purple__color {
    color: #522681;
}

.purple__bg {
    background-color: #522681;
}

.light__bg__section {
    background-color: #F7F7F7;
}

.navbar__line {
    border-bottom: #D3C9DE !important;
}

.nav-items {
    gap: 15px;
}

.active__navitem {
    text-decoration: underline;
}

.colored__navitem {
    color: #763fb1 !important;
}

.hovering__underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 15px;
    left: 0;
    background-color: #7a797a;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.hovering__underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.projects__card img {
    height: 300px;
}

.projects__card:hover .shown__img {
    display: none;
}

.projects__card:hover .hidden__img {
    display: block !important;
}

.moving__arrow {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #D3E2CC;
    transition: 200ms all ease-in-out;
}

.moving__arrow:hover,
.testimonials__idea__btn:hover {
    background-color: #83D95B;
}

.footer__social__icons__container {
    background-color: #F7F7F7;
}

.footer__social__icons__inside__container {
    gap: 20px;
}

.footer__social__icons__container a {
    color: #522681 !important;
}

.footer__social__icon {
    gap: 10px;
}

.footer__social__icon i {
    border-bottom: 1px #522681 solid;
}

@media (max-width:480px) {
    .footer__social__icon p {
        font-size: 15px;
    }
}




/* for home page */
.main__section__left__part {
    gap: 70px;
}

.main__section__text {
    font-family: 'Poppins-bold';
    font-size: 70px;
}

@media (max-width:555px) {
    .main__section__text {
        font-size: 50px;
    }
}

.main__section__text__item::after {
    content: '';
    position: absolute;
    right: -50px;
    top: -30px;
    width: 70px;
    height: 70px;
    background-image: url("data:image/svg+xml,%3Csvg  xmlns='http://www.w3.org/2000/svg' width='79.172' height='75.582' viewBox='0 0 79.172 75.582'%3E%3Cpath id='Path_14' data-name='Path 14' d='M38.4,70.713c-.518-.032-12.773-.818-21.817-3.521a45.3,45.3,0,0,1-15.309-7.8,3.64,3.64,0,0,1,4.713-5.548,38.748,38.748,0,0,0,12.68,6.375c8.252,2.466,20.065,3.222,20.183,3.23a3.64,3.64,0,0,1-.222,7.273C38.554,70.721,38.479,70.718,38.4,70.713Zm5.511-11.748a3.615,3.615,0,0,1-2.578-1.208c-.147-.164-3.745-4.234-16.741-23.167C11.222,15.111,9.9,4.593,9.845,4.154A3.64,3.64,0,0,1,17.074,3.3c.032.224,1.453,9.588,13.521,27.17C43.138,48.744,46.627,52.754,46.769,52.916a3.642,3.642,0,0,1-2.728,6.052ZM61.669,50.13a3.639,3.639,0,0,1-3.519-3.756l.973-29.908A3.639,3.639,0,0,1,66.4,16.7l-.973,29.908a3.64,3.64,0,0,1-3.636,3.521Z' transform='translate(70.033 -0.014) rotate(82)' fill='%23522681' /%3E%3C/svg%3E");
}

.contact__btn {
    background-color: #522681;
    width: 250px;
    transition: all 200ms ease-in-out;
}

.contact__btn:hover {
    background-color: #83D95B;
    color: #000 !important;
}

.social__icons__container {
    gap: 45px;
}

@media (max-width:555px) {
    .social__icons__container {
        font-size: 17px;
        gap: 20px;
    }
}

.social__icons__container a {
    gap: 10px;
    color: #522681;
}

.social__icons__container a:hover {
    color: rgb(68, 67, 67);
}

.social__icons__container :hover i {
    border-bottom: 1px rgb(68, 67, 67) solid;
}

.vid__icon {
    left: -70px;
}

.services__container {
    background-color: #D3C9DE;
}

.services__inside__container {
    gap: 30px;
}

.services__item {
    color: #522681;
    transition: all 200ms ease-in-out;
}

.services__item:hover {
    color: #83D95B;
}

.testimonials__section {
    background-color: #F7F7F7;
    min-height: 800px;
    background-image: url(../images/sec-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 700px 750px;
}

.arrows__container {
    gap: 10px;
}

.testimonials__idea__btn:hover {
    background-color: #83D95B;
}

.testimonials__idea__btn {
    font-size: 40px;
    height: 125px;
    width: 600px;
    border-radius: 50px;
    background-color: #D3E2CC;
    transition: 200ms all ease-in-out;
}

@media (max-width:768px) {
    .testimonials__idea__btn {
        width: 350px;
        height: 100px;
    }
}





/* for projects page */
.filter__btns {
    gap: 5px;
}

.search__input {
    width: 200px;
    border-bottom: #b5b3b6b4 1px solid !important;
}

.search__input input::placeholder,
.search__icon {
    font-size: 15px !important;
}

.search__icon {
    right: 15px;
    top: 15px;
}

.filter__type {
    transition: all ease-in-out 0.2s;
}

.filter__type:hover {
    background-color: rgba(207, 207, 207, 0.212);
}

.current__filter__item,
.current__filter__item:hover {
    background-color: #000;
    color: #fff;
}

.moving__arrows__container {
    gap: 10px;
    background-color: #F7F7F7;
}

.current__Page {
    background-color: #D3E2CC;
}




/* for services page */
.seo__shadow::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 35px;
    background-color: #d3e2cc59;
    left: 0;
    bottom: 18px;
}

@media (max-width:768px) {

    .header__text h1,
    p,
    .seo__text h4 {
        font-size: 17px !important;
        padding: 0 !important;
    }
}




/* for about page */


























































/* RESET STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button {
    border: none;
    background: none;
}

a,
a:hover {
    color: inherit;
}

figure {
    margin: 0;
}


/* MAIN STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
    max-width: 1100px;
}

.section-with-carousel .swiper-slide figure {
    position: relative;
    overflow: hidden;
}

.section-with-carousel .swiper-slide img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.section-with-carousel .swiper-slide figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(20%);
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 20px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
}

.section-with-carousel .swiper-slide figcaption svg {
    flex-shrink: 0;
    fill: white;
    margin-right: 10px;
}

.section-with-carousel .swiper-slide-active figcaption {
    opacity: 1;
    visibility: visible;
    transform: none;
}

.section-with-carousel .carousel-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    z-index: 1;
}

.section-with-carousel .carousel-controls .carousel-control {
    opacity: 0.25;
    transition: opacity 0.3s;
}

.section-with-carousel .carousel-controls .carousel-control:hover {
    opacity: 1;
}

.section-with-carousel .swiper-pagination-bullets {
    position: static;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.section-with-carousel .swiper-pagination-bullets .swiper-pagination-bullet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    background: transparent;
    opacity: 0.5;
    margin: 0 8px;
    border-radius: 0;
    transition: opacity 0.3s;
}

.section-with-carousel .swiper-pagination-bullets .swiper-pagination-bullet .line {
    width: 3px;
    height: 3px;
    background: black;
    transition: transform 0.3s;
}

.section-with-carousel .swiper-pagination-bullets .swiper-pagination-bullet .number {
    opacity: 0;
    transform: translateY(-7px);
    transition: all 0.3s;
}

.section-with-carousel .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
}

.section-with-carousel .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active .line {
    transform: scaleX(8);
}

.section-with-carousel .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active .number {
    opacity: 1;
    transform: none;
}

.copyright .col-auto:not(:last-child) {
    position: relative;
}

.copyright .col-auto:not(:last-child)::before {
    content: "•";
    position: absolute;
    top: 50%;
    right: -2px;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .section-with-carousel .swiper-slide img {
        height: 370px;
    }
}

@media (min-width: 1200px) {
    .section-with-carousel .swiper-slide img {
        height: 420px;
    }

    .section-with-carousel .carousel-controls {
        padding: 0 50px;
    }
}